{{with RuleList `V = a e o ə á é ó à è ò` .}}{{end -}}

{{define "table" -}}
{{.}}	{{.}}he
{{if Match . "{V} >  / _#" -}}
{{.}}ws	{{.}}hews
{{- else -}}
{{.}}wəs	{{.}}hews
{{- end}}
{{.}}ʔès	{{.}}heʔès
{{.}}thəh	{{.}}hethəh
{{.}}sàns	{{.}}hesàns
{{.}}snəj	{{.}}hesnəj
{{.}}səh	{{.}}hesəh
{{.}}kəs	{{.}}hekəs
{{.}}kjə	{{.}}hekjə
{{.}}kəh	{{.}}hekəh
{{- end -}}

{{ApplyPairs (Execute "table" .) "" ".ljb.east.dnar"}}

