{{with RuleList `V = a e o ə á é ó à è ò` .}}{{end -}}

{{define "personal" -}}
{{.}}ɦàs
{{.}}wəs	{{.}}ʔès	{{.}}thəh	{{.}}wèh	{{.}}ʔèh	{{.}}thəhəh
{{.}}sàns	{{.}}snəj	{{.}}səh	{{.}}sànhè	{{.}}snəj	{{.}}səhəh
{{.}}kəs	{{.}}kjə	{{.}}kəh	{{.}}kəh	{{.}}kjə	{{.}}khəh
			{{.}}tòh	{{.}}tòj	{{.}}tòhəh
{{- end -}}

{{define "present" -}}
{{.}}
{{- end -}}

{{define "aorist" -}}
{{.}}dəl
{{- end -}}

{{define "momentane" -}}
{{.}}bet
{{- end -}}

{{define "table" -}}
{{Execute "personal" (Execute "present" .)}}

{{Execute "personal" (Execute "aorist" .)}}

{{Execute "personal" (Execute "momentane" .)}}
{{end -}}

{{ApplyPairs (Execute "table" .) "" ".ljb.east.dnar"}}
